@model ShopOnline_JesusGarceran_MiW.Models.Product

@{
    ViewBag.Title = "Details";
}


    <div class="col-sm-9 padding-right">
        <div class="product-details">
            <!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="@Html.DisplayFor(model => model.Image)" height="300px" alt="" />         
                </div>
         
            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <!--/product-information-->
                    <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                    <h2>@Html.DisplayFor(model => model.Name)</h2>
                    <p>Web ID: @Html.DisplayFor(model => model.Id)</p>
                    <img src="images/product-details/rating.png" alt="" />
                    <span>
                        <p>@Html.DisplayFor(model => model.Description)</p>
                        <span>@Html.DisplayFor(model => model.Price) €</span>

                        @if (Model.Stock != 0) {
                        <a href="@Url.Action("Add", "Cart", new { id = Model.Id }, null)" class="btn btn-default add-to-cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </a>
                        }

                        @if ((Model.Stock < 10) && (Model.Stock > 0))
                        {
                            <p><h5 style="color:red;">Quedan pocas unidades</h5></p>
                        }

                        @if (Model.Stock == 0)
                        {
                            <p><h5 style="color:red;">No hay stock</h5></p>
                        }
                    </span>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Brand:</b> Totto</p>
                    <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        </div>